@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:root {
  --bg-dark: #121212;
  --bg-light: #1e1e1e;
  --text-light: #e0e0e0;
}

