:root {
  --green: #43aa8b;
  --red: #ef476f;
  --bg-dark: #121212;
  --bg-light: #1e1e1e;
  --text-light: #e0e0e0;
  --card-dark: #1c1c1c;
  --border-dark: #333;
  --submit-button: #FDFEFF;
  --button-hover: #B9B9B9;
  --login-light: #667A8A;
  --login-dark: #34424E;
  --bg-g1: #87CEEB;
  --bg-g2: #4682B4;
}

.NavBar_container {
  background-color: #FFFFFF;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 45rem;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.NavBar_container nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.Menu_list {
  display: flex;
  flex-direction: row;
}

.NavBar_container nav ul li {
  display: inline;
  margin-right: 2rem;
}

.NavBar_container nav ul li a {
  text-decoration: none;
  color: var(--login-dark);
  font-weight: bold;
}

.NavBar_container nav ul li a:hover {
  color: var(--bg-g1)
}

body.NavBar_container {
  background-image: none;
  background-color: #F9FAFB;
}

